<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Login </title>
  </head>
  <body>
    <div class="login-container">
      <h2> Hi!</h2>
      <p>Welcome back</p>
      <br>

      <input
        id="username"
        name="username"
        type="text"
        class="login"
        placeholder="username"
        required>
      </input>

      <input
        id="password"
        name="password"
        type="text"
        class="login"
        placeholder="password"
        required>
      </input>

      <button id="login" class="login-btn">Login</button>

      <detail class="small"> Not signed up yet?
        <a href="./register.html">Make an acount!</a>
      </detail>
    </div>
  </body>
</html>
